# Changelog

{% for release in releases %}
## {{ release.version }} ({{ release.date }})

{% if release.breaking_changes %}
### ⚠ BREAKING CHANGES

{% for breaking_change in release.breaking_changes %}
* {{ breaking_change }}
{% endfor %}
{% endif %}

{% for section in release.sections %}
### {{ section.type }}

{% for change in section.changes %}
* {{ change }}
{% endfor %}
{% endfor %}

{% endfor %} 